/*固定侧边栏*/
#sideBar{position: fixed;top:50%;right: 20px;margin-top:-217px;z-index: 9999;background-color: #fff;display: none;}
#sideBar ul{margin-top: -1px}
#sideBar li{position: relative; border-top:1px solid #eaeaea; height: 35px;width: 45px;text-align: center;line-height: 12px;background:url(../images/top.png) no-repeat 0 -35px;color: #ff3c3c;cursor: pointer;}

#sideBar .rigS{position: absolute;top: 0;right: 48px;display: none;cursor: pointer;width: 109px;height: 156px;background: url(../images/i-02.png) no-repeat 0 0;padding:6px;color: #333;line-height: 18px}
#rigS p:first-of-type{font-size: 14px;padding-top: 5px}
#sideBar li.on .rigS{display: block;}
#sideBar li span{background-color: #ff3c3c;color: #fff;height: 25px;width: 45px;;padding:5px 0;display: none;position: absolute;top: 0;left: 0}
#sideBar li:first-of-type {color: #ff3c3c;top: -1px;height: 30px;padding-top: 5px;}
#sideBar ul li:first-of-type:hover{color: #fff;background-color: #ff3c3c;}
#sideBar li.on span{display:block;}

.fly{position: absolute;bottom: 100%;left: 0px;background-color: rgba(255,90 ,90,.9);color: #fff;width: 100%;height: 100%;text-align: center;box-sizing: border-box;transition: all .4s ease 0s}
/*.shows li:hover .fly{bottom: 0;}*/
.fly.down{bottom:-100%;}
 .fly .title{font-size: 14px;line-height: 50px;border-top:1px dotted #fff;width:90%;position:absolute;bottom: 0px;left: 0px;margin:0 5%;}
